<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <p id='file_upload' style='display:none;'>
    <%= f.file_field :file %>
  </p>
 <p id='file_url' style='display:none;'>

    <%= f.label :remote_file_url, "or file URL" %><br />
    <%= f.text_field :remote_file_url %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
