<h1>New Video</h1>

<%= render 'form' %>
<select>
  <option value="file_upload">Upload from local computer</option>
  <option value="file_url">Upload from remote url</option>
</select>

<%= link_to 'Back', videos_path %>
