<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @video.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @video.description %>
</p>

<p>
	<strong>File:</strong>
	<% if @video.remote_file_url.nil?%>
	
	<%= video_tag([@video.file], :size => "320x240", :controls => true) %>
	<% else %>
	<%= video_tag([@video.remote_file_url], :size => "320x240", :controls => true) %>
	<% end %>


</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
