<!DOCTYPE html>
<html>
<head>
  <title>VidUpload</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

</body>
</html>
